* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #F5F5F5;
	padding-top: 6rem;
}

header {
	background-color: #0000CD;
	color: #FFFFFF;
	font-family: arial;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
}

h3 {
	font-size: 2rem;
	padding: 1rem;
}

h4 {
	font-size: 1rem;
	padding: 0 0 1rem 1rem;
}

.buy {
	position: fixed;
	top: 6rem;
	right: 0;
	background-color: rgba(255, 255, 0);
	width: 15rem;
	height: 10rem;
	text-align: center;
	margin-top: 2.5%;
}

h5 {
	font-family: arial;	
	padding: .1rem 0;
	font-size: 2rem;
}

button {
	font-family: arial;	
	padding: .4rem;
	font-size: 1.6rem;
	background-color: rgba(50, 205, 50);
	color: #FFFFFF;
	text-transform: uppercase;
	border: .3rem solid rgba(50, 155, 0);
	border-radius: 1.5rem;
}

.container {
	background-color: #FFFFFF;
	width: 85%;
	box-shadow: .2em .2em #DCDCDC;
	margin: 0 auto;
	padding: 1rem;
	max-width: 80%; 
	max-height: 80%;
	min-width: 0;
	min-height: 0;	

}

h1 {
	font-family: arial;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	padding: 1rem; 
}

p {
	font-family: arial;
	text-align: justify;
	padding: .4rem 2rem;
	font-size: 1.6rem;
}

#grid-container {
	background-color: rgba(255, 127, 80);
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: .1rem;
	max-width: 120rem;
	margin: 0 auto;
}

.grid div {
	background-color: #FFFFFF;
	font-family: arial;
	text-align: center;
	font-size: 1.6rem;
	padding-top: .2rem;
}

footer, footer p {
	font-family: arial;
	color: #FFFFFF;
	background-color: #0000CD;
	text-align: center;
	padding: 1rem 0;
}
