html {
	font-size: 62.5%;
}

body {
	background-color: #F5F5F5;
}

header {
	background-color: #0000CD;
	color: #FFFFFF;
	font-family: arial;
	width: 100%;
}

h3 {
	font-size: 20px;
	padding: 5px;
}

h4 {
	font-size: 10px;
	padding: 0 0 5px 5px;
}

.container {
	background-color: #FFFFFF;
	width: 85%;
	box-shadow: .2em .2em #DCDCDC;
	margin: 0 auto;
	max-width: 80%; 
	max-height: 80%;
	min-width: 0;
	min-height: 0;	

}

h1 {
	font-weight: bold;
	font-size: 22px; 
}

footer {
	font-family: arial;
	color: #FFFFFF;
	background-color: #0000CD;
	text-align: center;
	padding: 5px 0;
}

p {
	font-family: arial;
	text-align: justify;
	padding: 10px;
	font-size: 1.6rem;
}